$font-family: Arial, Helvetica, sans-serif;
$font-size: 1rem;
$line-height: 1.6;
$color: #333;
$background: #eee;
$link-color: #333;

/*** Button ***/
$button-color: #eee;
$button-background: #444;
$button-width: 150px;
$button-height: 50px;
$button-margin: 20px;
$button-radius: 4px;
$button-shadow: 2px 2px 5px #666;
$button-border: 2px solid #333;

/*** Table ***/
$table-color: #333;
$th-background: #bbb;
$td-background: #ddd;
$ti-color: #eee;
$ti-background: #333;
$ti-border: thin solid #333;
