button,
input[type="submit"] {
    color: $button-color;
    background: $button-background;
    width: $button-width;
    height: $button-height;
    margin: $button-margin;
    border-radius: $button-radius;
    border: none;
    cursor: pointer;

    /*** Removes focus outline ***/
    outline: none;

    &:hover,
    &:focus {
        box-shadow: $button-shadow;
        border: $button-border;
    }
}
