table {
    margin: 20px;
    color: $table-color;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: thin solid;
}

th {
    background-color: $th-background;
}

td {
    background-color: $td-background;
}

.ti {
    color: $ti-color;
    background: $ti-background;
    text-align: center;
    border: $ti-border;
}
