@use '../abstracts/variables' as *;

.bookmark {
    // anchor offset for fixed header
    padding-top: $nav-offset;
    margin-top: -$nav-offset;
}

a {
    text-decoration: underline;
    color: $anchor;
}

pre {
    display: table;
}

figure {
    display: table;
    margin: 1rem 0;
}

figcaption {
    font-weight: 900;
    text-align: center;
}

dl dt,
strong {
    color: $strong;
}

hr {
    margin: 30px 0;
}

.big {
    font-size: 2rem;
    line-height: 0;
}
