<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../images/icon.png" type="image/png" />
    <link rel="stylesheet" href="../../styles/master.css" />
    <script src="../../scripts/prism.js" defer></script>
    <title></title>
  </head>

  <body>
    <nav>
      <a href="../../index.html">Home</a>
      <a href="index.html">Index</a>
      <a id="nav__github" href="https://github.com/Jamezuki/notes" target="_blank">GitHub</a>
    </nav>
    <main>
      <!-- #region -->
      <h1 id="" class="bookmark"></h1>
      <pre><code class="lang-js">
</code></pre>
      <hr />
      <!-- #endregion -->
    </main>
  </body>
</html>
