<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/icon.png" type="image/png">
    <link rel="stylesheet" href="../../styles/master.css">
    <script src="../../scripts/prism.js" defer></script>
    <title></title>
</head>

<body>
    <header>
        <ul>
            <li><a href="../../index.html"><img src="../../images/home.png" alt="Index"></a></li>
            <li><a href="index.html"><img src="../../images/index.png" alt="Index"></a></li>
            <li>
                <a href="https://github.com/Jamezuki/notes" target="_blank">
                    <img src="../../images/github.png" alt="Github">
                </a>
            </li>
        </ul>
    </header>
    <main>
        <!-- #region -->
        <h1 id=""></h1>
        <pre><code class="lang-js">
</code></pre>
        <hr>
        <!-- #endregion -->
    </main>
</body>

</html>