<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../../images/icon.png" type="image/png" />
    <link rel="stylesheet" href="../../../styles/master.css" />
    <title>CSS Layout</title>
  </head>

  <body>
    <nav>
      <a href="../../../index.html">Home</a>
      <a id="nav__github" href="https://github.com/Jamezuki/notes" target="_blank">GitHub</a>
    </nav>
    <h1 class="index-title">CSS Layout</h1>
    <div class="index">
      <section>
        <h2>Flexbox</h2>
        <ul>
          <li><a href="content.html#flex">flex</a></li>
          <li><a href="content.html#flex-justify">justify</a></li>
          <li><a href="content.html#flex-align">align</a></li>
          <li><a href="content.html#flex-flex-wrap">flex-wrap</a></li>
        </ul>
        <hr />
        <ul>
          <li><a href="content.html#flex-flex">flex</a></li>
          <li><a href="content.html#flex-order">order</a></li>
        </ul>
        <hr />
        <ul>
          <li><a href="content.html#flex-examples">Examples</a></li>
        </ul>
      </section>
      <section>
        <h2>Grid</h2>
        <ul>
          <li><a href="content.html#grid-template-rows-cols">template-rows/cols</a></li>
          <li><a href="content.html#grid-template-areas">template-areas</a></li>
          <li><a href="content.html#grid-justify">justify</a></li>
          <li><a href="content.html#grid-align">align</a></li>
          <li><a href="content.html#grid-gap">grid-gap</a></li>
        </ul>
      </section>
    </div>
  </body>
</html>
