@use '../base/variables' as *;

main {
    margin-top: 50px;
    padding: 0 20px;
    h1 {
        // Offset anchor for fixed header
        padding-top: 50px;
        margin-top: -50px;
    }
    p {
        max-width: 40em;
    }
    a {
        text-decoration: underline;
        color: #0395f0;
    }
    hr {
        margin: 30px 0;
    }
}

strong {
    color: $strong;
    font-weight: bold;
}

figure {
    display: table;
    margin: 1rem 0;
}

figcaption {
    font-weight: 900;
    text-align: center;
}

dl dt {
    color: $strong;
    font-weight: 900;
}
